<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="scanner">
      <ion-icon name="bluetooth"></ion-icon>
      <ion-label>Scanner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="advertiser">
      <ion-icon name="radio-outline"></ion-icon>
      <ion-label>SSL Test</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wifiwizard">
      <ion-icon name="wifi-outline"></ion-icon>
      <ion-label>Wifi</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="others">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Others</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
