<ion-header>
  <ion-toolbar>
    <ion-title id="modal-title">Modal Control</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h2 id="modal-h2" tabIndex="-1">Should focus here</h2>

  <ion-item>
    <ion-label position="stacked">Your name</ion-label>
    <ion-input [(ngModel)]="name" placeholder="Your name"></ion-input>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
